/venv/
/.idea/
/src/etc/
/src/Scripts/
/src/Lib/
/src/share/
/src/Include
/src/pip-selfcheck.json
/src/pyvenv.cfg
data/interim/1_Learning_set.pickle
data/interim/1_Learning_set.pickle
data/interim/1_Trade_Cube_1.pickle
data/interim/1_Trade_Cube_1.pickle
data/interim/2_Resalt_Trade_Model_1.pickle
data/interim/3_Train_Massiv_1.pickle
data/interim/5_Learning_set.pickle
